# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.idea/

# Android
android/local.properties
android/**/gradle-wrapper.jar
android/.gradle/
android/captures/
android/app/debug
android/app/profile
android/app/release

# macOS
.DS_Store
